[Unit]
Description=Home-SecNet Daily Update

[Service]
Type=oneshot
ExecStart=/opt/router/security/daily-update.sh
Nice=10
IOSchedulingClass=idle

[Install]
WantedBy=multi-user.target
